/* Generelle stiler */

body {
  margin: 0px;
}

h1 {
  letter-spacing: 2px;
  font-size: 34px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
  color: green;
}

h2 {
  letter-spacing: 2px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 20px;
}

/* Generelle stiler */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Forside - banner */

.section1 {
  background-image: url(../Bilder/Header\ bg.jpg);
  grid-area: 1 / 1 / span 3 / span 3 ;
  margin: 70px;
  border: 5px solid green;
  padding: 20px;
  letter-spacing: 2px;
  border-radius: 10px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

p1 {
  font-size: 150px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-content: bottom;
  color: green;
  background-color: rgba(148, 10, 10, 0.518);
  grid-area: 1 / 1 / span 3 / span 3 ;
}

p2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0px black, 2px 2px 7px black;;
  align-content: center;
  inline-size: auto;
  width: 500px;
  height: 180px;
  font-size: 30px;
  background-color: rgba(148, 10, 10, 0.518);
  grid-area: 1 / 2 / span 1 / span 2;
}

p3 {
 height: 263px;
 width: fit-content;
 background-color: rgba(148, 10, 10, 0.518);
 grid-area: 1 / 6 / span 3 / span 1;
}

p4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 42px;
  height: fit-content;
  background-color: rgba(148, 10, 10, 0.518);
  grid-area: 2 / 1 / span 2 / span 5;
}

/* Forside - banner */

.section2 {
  display: grid;
  background-color: green;
  border: 5px solid black;
  grid-template-columns: auto auto auto auto;
}

b1 {
  align-content: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}

a.one:link {color: white; text-decoration: none;}
a.one:hover {text-shadow: 2px 2px 5px rgb(0, 0, 0);}

#grad1 {
  height: 500px;
  background-color: rgba(255, 255, 255, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgba(255, 255, 255, 0), green);
}

a.two:link {color: green; text-decoration: none;}
a.two:hover {text-decoration: underline;}
a.two:visited {color: rgb(4, 77, 4);}

.container-4 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  border-radius: 10px;
  border: 5px solid black;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  background-image: url("../Bilder/Belfast\ bg\ crop.jpg");
  background-repeat: no-repeat;
  letter-spacing: 2px;
}

.item-10 {
  grid-area: 1 / 3 / span 1 / span 3;
  border: 10px solid green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  background-color: white;
}

.item-11 {
  grid-area: 2 / 3 / span 1 / span 3;
  font-size: 42px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-12 {
  grid-area: 3 / 3 / span 1 / span 3;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-5 {
  display: grid;
  border: 5px solid green;
  background: white;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

a.three:link {color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-13 {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

.item-14 {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-15 {

  font-size: 50px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-16 {

  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-5:hover {
  box-shadow: 0px 0px 10px;
}

.container-6 {
  border: 5px solid green;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background: white;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

.container-6:hover {
  box-shadow: 0px 0px 10px;
}

.item-17 {
  grid-area: 1 / 1 / span 1 / span 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

.item-18 {
  grid-area: 2 / 1 / span 1 / span 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-19 {
  grid-area: 3 / 1 / span 1 / span 1;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-20 {
  grid-area: 4 / 1 / span 1 / span 1;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-7 {
  border: 5px solid green;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background: white;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

.container-7:hover {
  box-shadow: 0px 0px 10px;
}

.item-21 {
  grid-area: 1 / 1 / span 1 / span 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

.item-22 {
  grid-area: 2 / 1 / span 1 / span 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-23 {
  grid-area: 3 / 1 / span 1 / span 1;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-24 {
  grid-area: 4 / 1 / span 1 / span 1;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: auto;
}

h3 {
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 47%;
  height: auto;
}

t2 {
  color: rgb(87, 87, 87);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16;
  margin-left: 20px;
}

t3 {
  color: green;
}

t4 {
  color: white;
}