
/*Hei Bent! Jeg prøvde å kode dette om, men siden jeg ikke vet helt hvordan jeg skal få den nye versjonen til å se så lik ut 
denne som mulig, så kommer jeg (kanskje) tilbake til dette  senere (testene er de som har "copia" etter seg).

Jeg har sortert og rengjort litt*/

/*generelle stiler*/

body {
  margin: 0px;
}

h1 {
  letter-spacing: 2px;
  font-size: 34px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 40px;
  color: green;

  @media screen and (max-width: 918px) and (min-width: 540px) {
    font-size: 30px;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 20px;
  }
}

h2 {
  letter-spacing: 2px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  margin-left: 40px;
  margin-right: 40px;

  @media screen and (max-width: 918px) and (min-width: 540px) {
    font-size: 16px;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 12px;
  }
}

h3 {
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Times New Roman', Times, serif;

  @media screen and (max-width: 1200px) and (min-width: 1085px) {
    font-size: 45px;
  }
  @media screen and (max-width: 1084px) and (min-width: 969px) {
    font-size: 40px;
  }
  @media screen and (max-width: 968px) and (min-width: 890px) {
    font-size: 35px;
  }
  @media screen and (max-width: 889px) and (min-width: 760px) {
    font-size: 30px;
  }
  @media screen and (max-width: 759px) {
    font-size: 25px;
  }
}

t1 /*italic*/{
  font-style: italic;
}

t2 /*grå, mindre skrift*/{
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16;
  margin-left: 40px;

  @media screen and (max-width: 918px) and (min-width: 540px) {
    font-size: 14px;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 12px;
  }
}

t3 /*grønn*/{
  color: green;
}

/*lenker*/
a.one:link {color: white; text-decoration: none;}
a.one:visited {color: white; text-decoration: none;}
a.one:hover {text-shadow: 2px 2px 5px rgb(0, 0, 0); text-decoration: none; color: white;}
a.one:active {color: white; text-decoration: none;}

a.two:link {color: green; text-decoration: none;}
a.two:visited {color: green; text-decoration: none;}
a.two:hover {text-decoration: underline; color: rgb(4, 77, 4)}
a.two:active {color: rgb(7, 179, 7); text-decoration: none;}

a.three:link {color: black; text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;}
a.three:visited {color: black; text-decoration: none;}
a.three:hover {color: black; text-decoration: none;}
a.three:active {color: black;text-decoration: none;}

a.four:link {color: black; text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;}
a.four:visited {color: black; text-decoration: none;}
a.four:hover {color: green; text-decoration: underline;}
a.four:active {color: green; text-decoration: none;}

/*forside*/
/*banner, gjort om til bilde*/
.banner {
  width: 92%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 750px) {
    width: 96%;
  }
}

/*header*/
.container-2 {
  text-align: center;
  display: grid;
  background-color: green;
  border: 5px solid black;
  grid-template-columns: auto auto auto auto;

  @media screen and (max-width: 900px) and (min-width: 735px) {
    border: 3px solid black;
  }
  @media screen and (max-width: 734px) {
    border: 2px solid black; 
  }
}

.item-5 {
  align-content: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;

  @media screen and (max-width: 900px) and (min-width: 735px){
    font-size: 25px;
  }
  @media screen and (max-width: 734px) {
    font-size: 20px
  }
  }

.hjem {
  width: 75px;
  height: auto;

  @media screen and (max-width: 900px) and (min-width: 735px){
    width: 50px;
  }
  @media screen and (max-width: 734px) {
    width: 35px;
  }
}

/*forside - slutt*/
/*capricorn, gjort om til bilde*/
.capricorn {
  width: 73%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 750px) {
    width: 90%;
  }
}

/*banner for undersidene*/
.container-4 {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  border-radius: 10px;
  border: 5px solid black;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  background-image: url("../Bilder/Belfast\ bg\ crop.jpg");
  background-repeat: no-repeat;
  letter-spacing: 2px;
}

.item-10 /*Emne*/{
  grid-area: 1 / 3 / span 1 / span 3;
  border: 10px solid green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  background-color: white;

  @media screen and (max-width: 918px) and (min-width: 828px) {
    font-size: 60px;
  }
  @media screen and (max-width: 827px) and (min-width: 735px){
    font-size: 50px;
  }
  @media screen and (max-width: 734px) and (min-width: 620px) {
    font-size: 70px;
    grid-area: 2 / 2 / span 1 / span 5;
  }
  @media screen and (max-width: 619px) and (min-width: 540px) {
    font-size: 55px;
    grid-area: 2 / 2 / span 1 / span 5;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 35px;
    grid-area: 2 / 2 / span 1 / span 5;
  }
}

.item-11 /*Here lies:*/{
  grid-area: 2 / 3 / span 1 / span 3;
  font-size: 42px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  @media screen and (max-width: 918px) and (min-width: 735px) {
    font-size: 30px;
  }
  @media screen and (max-width: 734px) and (min-width: 540px) {
    font-size: 30px;
    grid-area: 3 / 2 / span 1 / span 5;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 20px;
    grid-area: 3 / 2 / span 1 / span 5;
  }
}

.item-12 /*forklaring*/{
  grid-area: 3 / 3 / span 1 / span 3;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  @media screen and (max-width: 918px) and (min-width: 735px) {
    font-size: 20px;
  }
  @media screen and (max-width: 734px) and (min-width: 540px) {
    font-size: 20px;
    grid-area: 4 / 2 / span 1 / span 5;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 16px;
    grid-area: 4 / 2 / span 1 / span 5;
  }
}

/*entries*/
/*container + hover entries*/

.container-5 {
  contain: content;
  width: 30%;
  text-align: center;
  display: grid;
  border: 5px solid green;
  background: white;
  margin-top: 40px;
  display: block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1200px) and (min-width: 825px) {
    width: 40%;
  }
  @media screen and (max-width: 824px) and (min-width: 580px) {
    width: 60%;
  }
  @media screen and (max-width: 579px) and (min-width: 350px) {
    width: 80%;
  }
}

.container-5:hover {
  box-shadow: 0px 0px 10px;
}

/*tekst i entries*/

.item-13 /*ukedag*/{
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  @media screen and (max-width: 918px) and (min-width: 540px) {
    font-size: 35px;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 25px;
  }
}

.item-14 /*bilde*/ {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.item-15 /*tittel*/{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  @media screen and (max-width: 918px) and (min-width: 540px) {
    font-size: 40px;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 35px;
  }
}

.item-16 /*beskrivelse*/{
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  @media screen and (max-width: 918px) and (min-width: 540px) {
    font-size: 20px;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 16px;
  }
}

.item-17 /*antall ord*/{
  font-size: 24px;
  color: gray;
  margin-top: 10px;
margin-bottom: 5px;

  @media screen and (max-width: 918px) and (min-width: 540px) {
    font-size: 20px;
  }
  @media screen and (max-width: 539px) and (min-width: 350px) {
    font-size: 16px;
  }
}

/*bilder*/

.center-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: auto;
}

.center-2 {
  display: block;
  margin-left: 40px;
  margin-right: auto;
  width: 50%;
  height: auto;
}

/*grønn gradering*/
#grad1 {
  height: 300px;
  background-color: rgba(255, 255, 255, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgba(255, 255, 255, 0), green);
  position:relative;
  bottom:0;
}
